<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.ytu.jierui.store.mapper.BossMapper">

    <resultMap id="BossEntityMap" type="com.ytu.jierui.store.entity.Boss">
        <id column="bid" property="bid"/>
        <result column="bossname" property="bossname"/>
        <result column="password" property="password"/>
        <result column="salt" property="salt"/>
        <result column="created_user" property="createdUser"/>
        <result column="created_time" property="createdTime"/>
        <result column="modified_user" property="modifiedUser"/>
        <result column="modified_time" property="modifiedTime"/>
        <result column="lock_num" property="lockNum"/>
        <result column="lock_time" property="lockTime"/>
        <result column="unlock_time" property="unlockTime"/>
    </resultMap>

    <!-- 插入用户数据 -->
    <!-- Integer save(User user) -->
    <insert id="save" useGeneratedKeys="true" keyProperty="bid">
			INSERT INTO boss (
				bossname, password,salt,
				created_user,created_time,modified_user, modified_time
			) VALUES (
				#{bossname}, #{password},#{salt},
				#{createdUser},#{createdTime},#{modifiedUser}, #{modifiedTime}
			)
	</insert>


    <!-- 根据用户名查询用户数据 -->
    <!-- Boss findByBossname(String bossname, String password); -->
    <select id="findByBossname" resultMap="BossEntityMap">
			SELECT
				*
			FROM
				boss
			WHERE
				bossname=#{bossname}
	</select>

	<!--根据bid查询权限-->
	<!--Authority findAuthorityByBid(Integer bid);-->
	<select id="findAuthorityByBid" resultType="com.ytu.jierui.store.entity.Authority">
			SELECT
				*
			FROM
				authority_view
			WHERE
				bid=#{bid}
	</select>

	<!--    Integer updateLock(@Param("bossname") String bossname,,
                       @Param("lockNum")Integer lockNum,
                       @Param("lockTime")Date lockTime,
                       @Param("unlockTime")Date unlockTime);-->
	<update id="updateLock">
		UPDATE
			boss
		SET
			lock_num=#{lockNum},
			lock_time=#{lockTime},
			unlock_time=#{unlockTime}
		WHERE
			bossname=#{bossname}
	</update>

	<!-- 更新密码 -->
	<!-- Integer updatePassword(
			@Param("bid") Integer bid,
			@Param("password") String password,
			@Param("modifiedUser") String modifiedUser,
			@Param("modifiedTime") Date modifiedTime) -->
	<update id="updatePassword">
		UPDATE
			boss
		SET
			password=#{password},
			modified_user=#{modifiedUser},
			modified_time=#{modifiedTime}
		WHERE
			bid=#{bid}
	</update>


</mapper>










