<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.ytu.jierui.store.mapper.TokenMapper">

    <resultMap id="TokenEntityMap" type="com.ytu.jierui.store.entity.Token">
        <result column="uid" property="uid"/>
        <result column="auto_login_token" property="autoLoginToken"/>
        <result column="token_type" property="tokenType"/>
        <result column="overdue_time" property="overdueTime" />
    </resultMap>

    <!--Integer saveToken(Integer uid, String autoLoginToken, String autoLogin, Date overdueTime);-->
    <insert id="saveToken" useGeneratedKeys="true">
			INSERT INTO token (
				uid, auto_login_token,
				token_type,overdue_time
			) VALUES (
				#{uid}, #{autoLoginToken},
				#{tokenType},#{overdueTime}
			)
	</insert>

	<!-- Integer deleteTokenByUid(Integer uid);-->
	<delete id="deleteTokenByUid">
		DELETE FROM
			token
		WHERE
			uid=#{uid}
	</delete>

	<!--Token selectTokenByTokenName(String tokenName);-->
	<select id="selectTokenByTokenName" resultMap="TokenEntityMap">
		SELECT
			*
		FROM
			token
		WHERE
			auto_login_token=#{autoLoginToken}
	</select>

	<!--User selectUserByToken(Integer uid,String autoLoginToken);-->
	<select id="selectUserByToken" resultMap="com.ytu.jierui.store.mapper.UserMapper.UserEntityMap">
		SELECT
			u.uid uid,username,password,salt,
			phone,status,is_freeze,is_delete,
			belonger,created_user,created_time,
			modified_user,modified_time
		FROM
			user u,token t
		WHERE
			u.uid=#{uid}
		AND
			t.auto_login_token=#{autoLoginToken}

	</select>

</mapper>










