/*更改密码界面*/
.container-changePassword{
    width: 400px;
    margin-top: 100px;
}
/*账号管理界面*/
.accountManagement-top{
    margin-top: 30px;
    margin-left: 40px;
}
.accountManagement-form-group2{
    margin-left: 100px;
}
.accountManagement-form-group3{
    margin-left: 100px;
}
.accountManagement-button{
    margin-top: 20px;
}
.accountManagement-table{
    margin-left: 40px;
    margin-right: 20px;
}
.accountManagement-modal-input1{
    margin-left: 150px;
    margin-bottom: 15px;
}
.accountManagement-modal-input2{
    margin-left: 150px;
}
.accountManagement-modal-input3{
    margin-left: 150px;
    margin-top: 15px;
}
/*入驻申请*/
.inApplication-table{
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 20px;
}
.inApplication-form-group2{
    margin-left: 190px;
}
.inApplication-pagination{

}